body {
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
  color: #40514E;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #EAF6F6;
}

span {
  text-decoration: underline;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  color: #6D8299;
  width: 5%
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
}

.profile-img {
  width: 30%;
  border-radius: 100%;
}

.middle-container {
  /* padding-bottom: 100px; */
}

.bottom-container {
  height: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #66BFBF;
}

.license {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -o-linear-gradient(top, #11cdd4,  #11999e);
  background-image: linear-gradient(to bottom, #11cdd4,  #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link {
  line-height: 3;
  margin-right: 30px;
  margin-left: 30px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  bottom: 300px;
  left: 250px;
  position: absolute;
}

.skills {
  margin: 100px auto;
}

.skill-row {
  line-height: 2;
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.web-development-img {
  float: left;
  margin-right: 30px;
  width: 20%;
}

.problem-solving-img {
  float: right;
  margin-left: 30px;
  width: 20%;
}

.profile {
  line-height: 2;
  margin: 100px auto;
  width: 25%;
}

.contact-me {
  margin: 100px auto;
  width: 25%;
  line-height: 2;
}

.contact-me-paragraph {
  line-height: 2;
  margin-bottom: 60px;
}

.contact-me-h3 {
  line-height: 4;
}
